/* Chrome, Safari, Opera */
@-webkit-keyframes from_top {
    from {top:-50px;opacity:0}
    to {top:0;opacity:1}
}
@-webkit-keyframes from_bottom {
    from {bottom:-120px}
    to {bottom:0}
}
@-webkit-keyframes line_height {
    from {opacity:0}
    to {opacity:1}
}

/* Standard syntax */
@keyframes from_top {
    from {top:-50px;opacity:0}
    to {top:0;opacity:1}
}
@keyframes from_bottom {
    from {bottom:-120px}
    to {bottom:0}
}
@keyframes line_height {
    from {opacity:0}
    to {opacity:1}
}