.holder {
	margin-top: 20px;
	font-size: 0;
}

.holder a {
	font-size: 18px;
	cursor: pointer;
	margin: 0 3px;
	color: #333;
	display: inline-block;
	vertical-align: top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 43px;
	line-height: 41px;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}

.holder a:hover {
	background-color: #2bd266;
}

.holder a.jp-previous{ 
	margin-left: 0;
	margin-right: 3px;
	font-size: 0;
	position: relative;
}
.holder a.jp-next { 
	margin-left: 3px;
	margin-right: 0;
	font-size: 0;
	position: relative;
}
.holder a.jp-previous:after{
	content:'<';
	font-size: 18px;
	color: #fff;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 41px;
	top:0;
	left:0;
}
.holder a.jp-next:after{
	content:'>';
	font-size: 18px;
	color: #fff;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 41px;
	top:0;
	left:0;
}

.holder a.jp-current, a.jp-current:hover { 
	color: #000;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}
.holder a.jp-current, a.jp-current:hover{
	background-color: #2bd266;
	color:#fff;
}
.holder span { margin: 0 7px; }