@media (max-width:599px){
	.modal_window {
		width: 290px; 
		height: 136px;
	}
	#modal_laser{
		width: 480px;
		min-height: 480px;
		padding: 15px 20px;
	}
		.half_modal{
			width: 275px;
			margin-right: 10px;
		}
			.half_modal:nth-child(2n){
				width: 155px;
			}
	#modal_arr_left{
		width: 32px;
		height: 39px;
		-webkit-background-size: 15px 28px;
		background-size: 15px 28px;
		background-position: 11px center;
	}
	#modal_arr_right{
		width: 29px;
		height: 32px;
		-webkit-background-size: 10px 19px;
		background-size: 10px 19px;
		background-position: 8px center;
	}
		.modal_about_laser{
			margin-top: 15px;
		}
		ul.select_div{
			margin-bottom: 15px;
		}
			ul.select_div li{
				width: 91px;
				font-size: 7px;
				line-height: 15px;
			}
				ul.select_div li:last-child{
					width: 91px;
				}
			.modal_laser_characteristics td{
				width: 137px;
			}
		.modal_iframe{
			width:275px !important;
			height:155px !important;
		}
			p.modal_title{
				font-size: 12px;
				padding-bottom: 5px;
				padding-top: 5px;
				padding-right: 25px;
			}
			p.modal_subtitle{
				font-size: 9px;
				padding-bottom: 15px;
				padding-right: 0;
			}
				.half_modal .item_form p.item_price{
					font-size: 28px;
					max-width:100%;
					float: none;
					padding-bottom: 10px;
				}
					.half_modal .item_form form p{
						line-height: 26px;
						width: 125px;
						background-position: 109px center;
						-webkit-background-size: 15px;
						background-size: 15px;
						float: none;
					}
						.half_modal .item_form form.closed p{
							background-position: 109px center;
							-webkit-background-size: 15px;
							background-size: 15px;
						}
					.half_modal .item_form form ul{
						width: 135px;
						top:62px;
						right:auto;
						left:0;
					}
						.half_modal .item_form form ul li label{
							font-size: 9px;
							padding-right: 40px;
						}
						.half_modal .item_form form ul li input[type='checkbox']:before{
							right:-6px;
						}
			.half_modal .item_form .inputs{
				padding: 15px;
				margin-top: 35px;
			}
				.half_modal .item_form .inputs p{
					font-size: 14px;
					padding: 0 0 20px;
					line-height: normal;
				}	
			.half_modal .item_form form input[type='submit']{
				font-size: 10px;
				line-height: 20px;
				margin-top: 20px;
				width: 80px;
			}
	.container{
		width: 480px;
	}
	a.logo{
		padding-left: 160px;
	}
	a.logo img{
		width: 142px;
	}
	.callback{
		width: 155px;
		-webkit-background-size: 18px;
		background-size: 18px;
		padding-left: 25px;
		margin-top: 6px;
	}
	nav ul{
		padding-left: 0;
	}
		nav ul li{
			min-width:96px;
			min-height:31px;
		}
			nav ul li a{
				font-size: 11px;
				line-height:31px;
			}
				nav ul li a span{
					display: none;
				}
			nav ul li .dropdown{
				top:31px;
				width: 250px;
				padding-bottom: 0;
			}
				nav ul li .dropdown .one_laser{
					width: 110px;
					height: 145px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				nav ul li .dropdown .one_laser:nth-child(2n){
					margin-right: 0;
				}
				nav ul li .dropdown .one_laser:nth-child(3n){
					margin-right: 10px;
				}
	.main_image{
		padding-top: 80px;
	}
	p.header{
		font-size: 35px;
		line-height: 26px;
	}
		.main_image p.header{
			padding-left: 55px;
		}
		p.header span{
			font-size: 25px;
		}
	.main_description p{
		font-size: 12px;
		line-height: 45px;
		padding-left: 0;
	}
	span.price{
		font-size: 22px;
		padding-left: 10px;
	}
	.submit_request{
		line-height: 25px;
		font-size: 12px;
	}
	.main_icons p{
		font-size: 14px;
		height: 65px;
		padding-top: 25px;
		padding-left: 55px;
	}
	.main_icons p:hover span{
		font-size: 10px;
	}
	.main_icons p:before{
		width: 42px;
		height: 42px;
	}
	.main_icons p.payment_on_delivery:before, .main_icons p.delivery:before{
		-webkit-background-size: 42px;
		background-size: 42px;
	}
	.goods{
		padding: 15px 0;
	}
	.lasers_row{
		padding: 0;
	}
	.one_laser{
		width: 143px;
		margin-right: 25px;
		margin-bottom: 20px;
	}
		.one_laser:nth-child(4n){
			margin-right: 25px;
		}
	.one_laser:hover:before{
		height: 145px;
	}
	.modal{
		width: 32px;
		height: 32px;
		-webkit-background-size: 16px;
		background-size: 16px;
		top:20px;
	}
	.one_laser:hover .modal{
	display:none;
	}
	.detail{
		font-size: 10px;
		line-height: 23px;
		width: 90px;
		top:105px;
	}
	a.laser_description{
		padding: 10px 0;
	}
	p.name{
		font-size: 10px;
	}
	p.price{
		font-size: 16px;
	}
	.video{
		padding: 30px 0;
	}
		.video iframe{
			width:300px !important;
			height: 169px !important;
		}
		.video a{
			font-size: 18px;
			width: 190px;
			line-height: 40px;
			margin-top: 20px;
		}
	.text{
		padding-bottom: 30px;
	}
	.text .row{
		padding: 20px 10px 0;
	}
		.text .row p{
			font-size: 12px;
		}
			.text .row p.title{
				font-size: 16px;
			}
		.text .row img.left,.text .row img.right{
			float: none;
			display: block;
			margin: 0 auto 20px;
			width:100%;
		}
	.comments{
		padding: 20px 0;
	}
		.comments .container{
			padding: 0 80px;
		}
		.comments p.header{
			font-size: 24px;
			padding-bottom: 0;
		}
	.one_comment{
		width: 320px;
		margin-right: 0;
	}
	.one_comment img{
		margin-top: 25px;
		width: 69px;
		height: 69px;
	}
	.comment_text {
		padding:15px 6px 20px;
	}
	.comment_text .who_comment{
		font-size: 14px;
		padding-bottom: 0;
	}
	.comment_text .comment{
		font-size: 10px;
		line-height: normal;
		text-align: center;
	}
	.arr_left{
		width: 68px;
		height: 62px;
		-webkit-background-size: 24px 47px;
		background-size: 24px 47px;
		background-position: 33px 7px;
		z-index:10;
		left:-10px;
	}
	.arr_right{
		width: 57px;
		height: 52px;
		-webkit-background-size: 17px 32px;
		background-size: 17px 32px;
		background-position: 10px 11px;
		z-index:10;
	}
	.feedback{
		padding: 30px 0;
	}
		.feedback .container{
			padding: 0 95px;
		}
	.contact_info{
		float: none;
		margin: 0 auto;
		width: 100%;
		margin-bottom: 5px;
	}
		.contact_info p:first-child{
			font-size: 17px;
			text-align: center;
			padding-bottom: 5px;
		}
		.contact_info p{
			font-size: 10px;
			text-align: center;
			padding-bottom: 5px;
		}
		.contact_info p.phone{
			font-size: 20px;
			padding-bottom: 10px;
			padding-left: 0;
		}
	form{
		float: none;
		margin: 0 auto;
		width: 100%;
		padding: 15px 15px 10px 15px;
	}
		form input[type='text']{
			width: 125px;
			margin-right: 10px;
		}
		form input[type='submit']{
			font-size: 12px;
			line-height: 28px;
			width: 111px;
		}
	.footer_catalog{
		padding: 30px 0 35px 0;
	}
	.name_catalog{
		font-size: 11px;
		padding-bottom: 10px;
	}
	.one_catalog ul{
		width: 96px;
		margin-bottom: 10px;
	}
	.footer_info{
		padding: 15px;
	}
		.footer_info .logo{
			width: 95px;
		}
	.text_info{
		width: 260px;
		padding: 0 30px 0 15px;
	}
	.social{
		float: right;
		text-align: center;
	}
		
		
	/* ITEM */
	.item_media{
		padding: 40px 0 15px;
	}
	p.page_title{
		font-size: 14px;
	}
	p.page_subtitle{
		font-size: 9px;
	}
	.item_photo{
		width: 100%;
		padding:0 20px;
		float:none;
	}
	.item_photo .one_photo{
		width: 98px;
		height: 56px;
		margin-right: 16px;
		margin-top: 10px;
	}
	.item_form_and_button{
		width: 440px;
		float:none;
		margin:10px auto 0;
	}
	.item_form{
		padding: 10px 15px;
		background-position: 10px 15px;
		-webkit-background-size: 54px 65px;
		background-size: 54px 65px;
	}
	.item_form:after{
		content:'';
		display:table;
		clear:both;
	}
	.item_price{
		padding-left:65px;
		width:145px;
		margin-right:35px;
	}
	.item_some_info{
		font-size: 10px;
		padding-left:65px;
		width:145px;
		margin-right:35px;
	}
	.item_form form{
		margin-top: 0;
		padding-bottom: 0;
		float:right;
		width:162px;
	}
	.form_info{
		float:left;
	}
		.item_form form p{
			font-size: 12px;
			line-height: 33px;
			background-position: 138px center;
			-webkit-background-size: 18px;
			background-size: 18px;
		}
			.item_form form.closed p{
				background-position: 138px center;
				-webkit-background-size: 18px;
				background-size: 18px;
			}
		.item_form form ul li label{
			font-size: 10px;
		}
		.item_form form ul li input[type='checkbox']:before{
			width: 12px;
			height: 12px;
			-webkit-background-size: 11px;
			background-size: 11px;
			right:-11px;
		}
	.item_form form input[type='submit']{
		font-size: 16px;
		line-height: 34px;
		width:117px;
		margin-top: 8px;
	}
	.item_buttons{
		padding:0 120px;
		margin-top:15px;
	}
	.one_item_button{
		font-size: 10px;
		padding-top: 55px;
	}
		.one_item_button.delivery, .one_item_button.payment, .one_item_button.warranty{
			-webkit-background-size: 43px;
			background-size: 43px;
		}
	.specification .container{
		padding: 15px 0;
	}
	.item_description{
		width: 100%;
		margin-right: 0;
		padding: 15px 20px;
		float:none;
	}
	.item_description p.item_description_header, .item_technical p{
		font-size: 17px;
	}
	.item_description p.item_description_header{
		padding-bottom:25px;
	}
	.item_description p{
		padding-bottom: 10px;
		font-size: 11px;
	}
	.item_technical{
		width: 100%;
		padding: 10px 5px;
		float:none;
		margin-top:15px;
	}
		.item_technical table td{
			font-size: 8px;
		}
	.video .item_iframe{
		margin-right:0;
		float:none;
		width:480px !important;
		height:270px !important;
	}
	.video form{
		width: 100%;
		float:none;
		padding:20px;
		margin-top:15px;
	}
		.video form p{
			font-size: 24px;
			margin-bottom:15px;
		}
		.video form input[type='text']{
			width: 215px;
		}
		.video form textarea{
			height:100px;
			margin-bottom:10px;
		}
	div.vk{
		padding: 20px 0;
	}
	.vkontakte{
		width:100%;
	}
	.feedback.item_feedback{
		padding:10px 0 15px;
	}
		.feedback.item_feedback .container{
			padding: 0;
		}
	.phone_info{
		padding-bottom:0;
	}
		.phone_info p{
			font-size: 16px;
			width:215px;
			margin-right:35px;
		}
		.phone_info p.phone{
			font-size:30px;
			width:230px;
			padding-top:4px;
			margin-right:0;
		}
	.mail_info{
		font-size:12px;
	}
	
	
	/* BLOG */
	.articles{
		padding: 45px 0 25px;
	}
		.articles .container{
			padding: 0;
		}
	.one_article{
		margin-bottom:15px;
	}
		.one_article img{
			width: 100%;
			float: none;
			display:block;
		}
	.article_info{
		width: 100%;
		padding: 20px 15px;
		height: auto;
	}
		.article_info p.article_header{
			font-size: 14px;
			line-height: 17px;
			padding-bottom:10px;
			margin-bottom:0;
		}
		.article_info p{
			font-size: 10px;
			line-height:12px;
			max-height:inherit;
			margin-bottom:15px;
		}
		.read_more{
			font-size: 9px;
			line-height: 17px;
			width: 100px;
			padding: 0 10px;
			bottom:10px;
			right:20px;
		}
		.holder a{
			width: 23px;
			height: 23px;
			line-height:21px;
			font-size:12px;
		}
		.holder a.jp-previous:after, .holder a.jp-next:after{
			font-size:12px;
			line-height:21px;
		}
	.carousel_items{
		padding: 45px 0 30px;
	}
		.carousel_items .container{
			padding: 0 75px;
		}
		.carousel_items .carousel{
			height: 150px;
		}
	.carousel .one_laser{
		width: 106px;
		margin-right: 6px;
	}
		.carousel .one_laser:hover:before{
			height:102px;
		}
		.carousel .one_laser .modal{
			width: 24px;
			height: 24px;
			-webkit-background-size: 11px;
			background-size: 11px;
		}
		.carousel .one_laser .detail{
			top:70px;
			width:83px;
			font-size: 9px;
			line-height: 20px;
		}
			.carousel .one_laser p.name{
				font-size: 8px;
			}
			.carousel .one_laser p.price{
				font-size: 12px;
			}
}