@media (max-width:1169px){
	.modal_window {
		width: 350px; 
		height: 185px;
	}
	.container{
		width: 940px;
	}
	header{
		padding: 25px 0 15px;
	}
	a.logo{
		padding-left: 250px;
	}
	a.logo img{
		width: 210px;
	}
	.callback{
		width: 205px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
		.callback p{
			font-size: 20px;
		}
		.callback a{
			font-size: 12px;
		}
		nav ul li{
			min-width: 188px;
			min-height:40px;
		}
			nav ul li a{
				font-size: 12px;
				line-height: 45px;
			}
		nav ul li .dropdown{
			top:45px;
			padding: 15px 15px 0 15px;
			width: 460px;
		}
			nav ul li .dropdown .one_laser{
				width: 135px;
				height: 190px;
				margin-right: 12px;
				margin-bottom: 15px;
			}
				nav ul li .dropdown .one_laser:hover:before{
					height: 134px;
				}
			nav ul li .dropdown .modal{
				top:20px;
				width: 32px;
				height: 32px;
				-webkit-background-size: 15px;
				background-size: 15px;
			}
			nav ul li .dropdown .detail{
				top:100px;
				font-size: 11px;
				width: 85px;
				line-height: 21px;
			}
			nav ul li .dropdown a.laser_description{
				padding: 10px;
			}
			nav ul li .dropdown p.name{
				font-size: 10px;
				padding-bottom: 3px;
			}
			nav ul li .dropdown p.price{
				font-size: 15px;
			}
	.main_image{
		padding-top: 180px;
	}
	p.header{
		font-size: 45px;
		padding-bottom: 70px;
	}
		p.header span{
			font-size: 32px;
		}
	.main_description p{
		font-size: 19px;
		line-height: 70px;
		padding-left: 60px;
	}
	span.price{
		font-size: 35px;
		padding-left: 20px;
	}
	.submit_request{
		font-size: 11px;
		line-height: 28px;
	}
	.main_icons{
		padding: 20px 0;
	}
	.main_icons p{
		font-size: 24px;
		padding-top: 25px;
		height: 75px;
		padding-left: 95px;
	}
		.main_icons p span{
			font-size: 12px;
			padding-top: 10px;
		}
		.main_icons p:before{
			width: 75px;
			height: 75px;
		}
		.main_icons p.payment_on_delivery:before, .main_icons p.delivery:before{
			-webkit-background-size: 75px;
			background-size: 75px;
		}
	.goods{
		padding: 20px 0;
	}
	.one_laser{
		width: 220px;
		margin-right: 20px;
		margin-bottom: 25px;
	}
		.one_laser:hover:before{
			height: 225px;
		}
	a.laser_description{
		padding: 17px 0;
		bottom:-1px;
	}
	p.name{
		font-size: 16px;
	}
	p.price{
		font-size: 24px;
	}
	.modal{
		width: 50px;
		height: 50px;
		top: 30px;
		-webkit-background-size: 25px;
		background-size: 25px;
	}
	.detail{
		font-size: 17px;
		line-height: 34px;
		width: 137px;
		top:165px;
	}
	.video{
		padding: 45px 0;
	}
		.video a{
			font-size: 28px;
			line-height: 60px;
			width: 270px;
			margin-top: 30px;
		}
	.text{
		padding: 0;
	}
		.text .row{
			padding: 35px 60px 0 55px;
		}
			.text .row p{
				font-size: 13px;
				text-indent:20px;
				line-height: normal;
				padding-bottom: 15px;
			}
				.text .row p.title{
					font-size: 26px;
					padding-bottom: 20px;
				}
	.comments{
		padding: 30px 0 20px;
	}
		.comments .container{
			padding: 0 81px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	.arr_left{
		width: 112px;
		height: 103px;
		left:-60px;
		background: url(../images/arr_left.png) no-repeat 85px 20px;
		-webkit-background-size: 40px 77px;
		background-size: 40px 77px;
		background-position: 55px 10px;
	}
	.arr_right{
		width: 93px;
		height: 87px;
		background: url(../images/arr_right.png) no-repeat 15px 26px, rgba(255,255,255,0.83);
		-webkit-background-size: 28px 52px;
		background-size: 28px 52px;
		background-position: 20px 17px;
		right:-38px;
	}
	.carousel{
		height: 310px;
	}
	.one_comment{
		width: 253px;
		margin-right: 9px;
	}
	.one_comment img{
		width: 97px;
		height: 97px;
		margin-bottom: 8px;
	}
	.comment_text .who_comment{
		font-size: 16px;
		padding-bottom: 10px;
	}
	.comment_text .comment{
		font-size: 11px;
		line-height: 13px;
	}
	
	.feedback{
		padding: 55px 0 75px;
	}
		.feedback .container{
			padding: 0 81px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	.contact_info{
		width: 350px;
		padding: 15px 20px;
	}
		.contact_info p{
			font-size: 12px;
			padding: 0 50px 15px 30px;
		}
			.contact_info p.phone{
				font-size: 24px;
			}
			.contact_info p:first-child{
				font-size: 21px;
				padding-bottom: 20px;
			}
	form{
		width: 350px;
		padding: 15px 20px;
	}
		form p{
			font-size: 18px;
			padding-bottom: 20px;
		}
		form input[type='text']{
			width: 152px;
			margin-right: 6px;
			margin-bottom: 6px;
			padding: 5px 12px;
			font-size: 11px;
		}
		form input[type='text']::-webkit-input-placeholder {font-size: 11px;}
		form input[type='text']::-moz-placeholder {font-size: 11px;}/* Firefox 19+ */
		form input[type='text']:-moz-placeholder {font-size: 11px;}/* Firefox 18- */
		form input[type='text']:-ms-input-placeholder {font-size: 11px;}
		form textarea{
			height: 50px;
			margin-bottom: 8px;
			padding: 5px 12px;
			font-size: 11px;
		}
		form textarea::-webkit-input-placeholder {font-size: 11px;}
		form textarea::-moz-placeholder {font-size: 11px;}/* Firefox 19+ */
		form textarea:-moz-placeholder {font-size: 11px;}/* Firefox 18- */
		form textarea:-ms-input-placeholder {font-size: 11px;}
		form input[type='submit']{
			width: 100px;
			font-size: 11px;
			padding: 0;
			height: 26px;
		}
	footer .container{
	}
	.footer_catalog{
		padding: 40px 81px 35px 66px;
	}
	.name_catalog{
		font-size: 16px;
		padding-bottom: 10px;
	}
	.one_catalog ul{
		width: 158px;
	}
	.one_catalog li a{
		font-size: 12px;
	}
	.footer_info .logo{
		width: 186px;
	}
	.text_info{
		width: 520px;
		padding: 0 75px 0 25px;
	}
		.text_info p{
			font-size: 9px;
			padding-bottom: 12px;
		}
	.social{
		width: auto;
	}
	.social_groups{
		margin-bottom: 10px;
	}
	.one_social_group{
		width: 22px;
		height: 22px;
		margin-right: 6px;
		font-size: 16px;
		line-height: 22px;
	}
	.one_payment_method{
		font-size: 22px;
		line-height: 17px;
		margin-right: 5px;
		width: auto;
	}
	
	/* ITEM */
	.item_media{
		padding: 70px 0 40px;
	}
	p.page_title{
		font-size: 24px;
	}
	p.page_subtitle{
		font-size: 16px;
	}
	.item_photo{
		width: 650px;
		padding-right: 25px;
	}
	.item_photo .one_photo{
		width: 145px;
		height: 81px;
		margin-right: 15px;
		margin-top: 15px;
	}
	.item_form_and_button{
		width: 265px;
	}
	.item_form{
		padding: 30px 15px;
		background-position: 15px 30px;
	}
	.item_price{
		font-size: 48px;
	}
	.item_some_info{
		font-size: 11px;
		padding-left:80px;
	}
	.item_form form{
		margin-top: 30px;
		padding-bottom: 0;
	}
		.item_form form p{
			font-size: 16px;
			line-height: 46px;
			padding: 0 10px;
			background-position: 190px center;
		}
			.item_form form.closed p{
				background-position: 190px center;
			}
		.item_form form ul{
			z-index:100;
		}
		.item_form form ul li label{
			font-size: 12px;
			padding: 13px 10px;
		}
		.item_form form ul li input[type='checkbox']:before{
			width: 15px;
			height: 15px;
			-webkit-background-size: 14px;
			background-size: 14px;
			right:0px;
		}
	.item_form form input[type='submit']{
		font-size: 32px;
		padding: 0;
		line-height: 65px;
		width:230px;
		margin-top: 15px;
	}
	.item_buttons{
		margin-top: 15px;
	}
	.one_item_button{
		font-size: 14px;
		padding-top: 70px;
	}
		.one_item_button.delivery, .one_item_button.payment, .one_item_button.warranty{
			-webkit-background-size: 57px;
			background-size: 57px;
		}
	.specification .container{
		padding: 30px 0 50px;
	}
	.item_description{
		width: 460px;
		margin-right: 20px;
		padding: 12px 17px;
	}
	.item_description p.item_description_header, .item_technical p{
		font-size: 26px;
	}
	.item_description p{
		padding-bottom: 20px;
		font-size: 16px;
	}
	.item_technical{
		width: 460px;
		padding: 10px 5px;
	}
		.item_technical table td{
			font-size: 16px;
		}
	.video .item_iframe{
		margin-right:20px;
		width:460px !important;
		height:259px !important;
	}
	.video form{
		width: 460px;
		padding:25px;
	}
		.video form p{
			font-size: 24px;
			margin-bottom:20px;
		}
		.video form input[type='text']{
			width: 201px;
		}
		.video form textarea{
			height:68px;
		}
	.vkontakte{
		width:780px;
	}
	.feedback.item_feedback{
		padding:20px 0 25px;
	}
		.feedback.item_feedback .container{
			padding: 0 0 0 80px;
		}
	.phone_info{
		padding-bottom:10px;
	}
		.phone_info p{
			font-size: 32px;
			width:460px;
		}
		.phone_info p.phone{
			font-size:52px;
			width:400px;
			padding-top:16px;
		}
	.mail_info{
		font-size:14px;
	}
	
	
	/* BLOG */
	.articles{
		padding: 75px 0 20px;
	}
	.one_article{
		margin-bottom:15px;
	}
		.one_article img{
			width: 470px;
		}
	.article_info{
		width: 470px;
		padding: 20px;
		height: 297px;
	}
		.article_info p.article_header{
			font-size: 24px;
			line-height: 29px;
			margin-bottom:0;
		}
		.article_info p{
			font-size: 14px;
			line-height:18px;
			padding-right:0;
			margin-bottom:15px;
			max-height:126px;
		}
	.read_more{
		bottom:20px;
		right:25px;
	}
	.carousel_items{
		padding: 100px 0 40px;
	}
		.carousel_items .container{
			padding: 0 80px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.carousel_items .carousel{
			height: 260px;
		}
	.carousel .one_laser{
		width: 180px;
		margin-right: 19px;
	}
		.carousel .one_laser:hover:before{
			height:179px;
		}
		.carousel .one_laser .detail{
			top:130px;
		}
			.carousel .one_laser p.name{
				font-size: 13px;
			}
			.carousel .one_laser p.price{
				font-size: 20px;
			}
}